اول حاجه هنحط الداتا في مونجو دي بي

In [ ]:
#this is new DAG
import json
from pymongo import MongoClient

#  الاتصال بـ MongoDB
client = MongoClient("mongodb://localhost:27017/")

#  اختيار Database و Collection
db = client["nyc_data"]
collection = db["nyc_traffic"]

# (اختياري) تفريغ الكوليكشن لو بتجرب
# collection.delete_many({})

#  قراءة ملف الـ JSON
with open("nyc_traffic.json", "r") as f:
    data = json.load(f)

# تأكيد إن الداتا Array
assert isinstance(data, list), "JSON file must contain a list of documents"

#  إدخال الدhتا
collection.insert_many(data)

print(f" Inserted {len(data)} documents into MongoDB successfully")

✅ Inserted 41362 documents into MongoDB successfully

حولنا الداتا بتتاعت الشوارع من ملف سي اي في اي  ملف  parquet
ودي عشان ننوع من مصارد الداتا الي جايلنا

In [1]:

import pandas as pd 
data = pd.read_csv("Centerline.csv")
data.to_parquet("streets_data.parquet")

انشاء اول تاسك في الداج وده هنعمل كونكت مع الاس 3 و هنكريت باكت 
ونعمل فيها 2 فولدر وبعدين نرفع الرو داتا فيها 
1- هنجيب الداتا  من مونجو دي بي ونرفعها علي هئيه جيسون فايل 
2- هنجيب الفايل البركيه ونرفعه 
3- هنجيب الفايل الثالث والاخير ونرفعه الي هو csv

In [12]:
from pymongo import MongoClient
import json
import boto3

# اتصال Mongo
client = MongoClient("mongodb://localhost:27017")
db = client["nyc_data"]
collection = db["nyc_traffic"]

#-----------------------------------------------
# connect with s3 
s3 = boto3.resource(
    's3',
    endpoint_url='http://localhost:9010',
    aws_access_key_id='minioadmin',
    aws_secret_access_key='minioadmin123'
)
Bucket="datalake"

#------------------------------------------------
# create bucket لو مش موجود 
try:
     s3.create_bucket(Bucket="datalake")
except:
     pass

#------------------------------------------------
# create 2 folder (raw , processed)
try:
     s3.put_object(Bucket="datalake", Key="raw/")
     s3.put_object(Bucket="datalake", Key="processed/")
except:
     pass

#----------------------------------------------------------
# upload first file to s3 (json file)
cursor = collection.find({}, {"_id": 0})

data = list(cursor)          # in-memory
json_bytes = json.dumps(
    data,
    ensure_ascii=False
).encode("utf-8")

#load to s3
s3.Bucket("datalake").put_object(
    Key="raw/mongo_traffic.json",
    Body=json_bytes,
    ContentType="application/json"
)


#---------------------------------------------------==
# upload second file csv to s3
s3_client = boto3.client(
    's3',
    endpoint_url='http://localhost:9010',
    aws_access_key_id='minioadmin',
    aws_secret_access_key='minioadmin123'
)


s3_client.upload_file(
    Filename="Motor_Vehicle_Collisions_Crashes.csv",  # المسار المحلي للفايل
    Bucket="datalake",                    # اسم الباكيت في S3/MinIO
    Key="raw/Motor_Vehicle_Collisions_Crashes.csv",    # المسار داخل الباكيت
    ExtraArgs={"ContentType": "text/csv"}   # دي زي ميتا داتا بعرفه ايه الكونتنت الي جوا الفايل ده 

)

#--------------------------------------
# upload the last file (parquet file )

s3_client.upload_file(
    Filename="streets_data.parquet",  # المسار المحلي للفايل
    Bucket="datalake",                    # اسم الباكيت في S3/MinIO
    Key="raw/streets_data.parquet" ,   # المسار داخل الباكيت
    ExtraArgs={"ContentType": "application/octet-stream"}  # دي زي ميتا داتا بعرفه ايه الكونتنت الي جوا الفايل ده 

)

التاسك التاني هنجيب الداتا بتاعت الجيسون فايل ونحولها لداتا فريم 
دا بستخدام باي سبارك و نعمل عليها بروسيسنج وبعدين نرفعها علي س3 تاني بس المره ده في فولدر اسمه بروسيس داتا

In [ ]:
# task 2
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("transform1")

    # ✅ Hadoop S3A jars 
    .config(
        "spark.jars.packages",
        "org.apache.hadoop:hadoop-aws:3.4.0,"
        "com.amazonaws:aws-java-sdk-bundle:1.12.262"
    )

    # MinIO
    .config("spark.hadoop.fs.s3a.endpoint", "http://localhost:9010")
    .config("spark.hadoop.fs.s3a.access.key", "minioadmin")
    .config("spark.hadoop.fs.s3a.secret.key", "minioadmin123")
    .config("spark.hadoop.fs.s3a.path.style.access", "true")
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")

    .getOrCreate()
)

#spark.sparkContext.setLogLevel("WARN")
# هنجيب الداتا بقا ونحولها لداتا فريم

df = spark.read.json(
    "s3a://datalake/raw/mongo_traffic.json"
)

#df.show(20)
#----------------------------------------------------------
# هنرجع الداتا تاني في الفولدر الي هو processed
#  وهنخلي الفايل يبقا parquet  عشان يحتفظ ب الاسيكما احسن من csv 

df.write \
    .mode("overwrite") \
    .parquet("s3a://datalake/processed/mongo_traffic")

التاسك التاني 
ودي عباره عن اننا هنجيب الفايل الي هو csv 
وهنبدء نتعامل معاه علي pyspark 
 بحيث اننا نعمل بروسيسنج لداتا الي فيه بما يتناسب مع احتياجتنا 
 وفي الاخر نرفع الفايل علي هئيه بركيه فايل علي s3
جوا الفولدر الي اسمه processed

In [1]:
# task 3
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("transform2")

    # ✅ Hadoop S3A jars 
    .config(
        "spark.jars.packages",
        "org.apache.hadoop:hadoop-aws:3.4.0,"
        "com.amazonaws:aws-java-sdk-bundle:1.12.262"
    )

    # MinIO
    .config("spark.hadoop.fs.s3a.endpoint", "http://localhost:9010")
    .config("spark.hadoop.fs.s3a.access.key", "minioadmin")
    .config("spark.hadoop.fs.s3a.secret.key", "minioadmin123")
    .config("spark.hadoop.fs.s3a.path.style.access", "true")
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")

    .getOrCreate()
)

# هنجيب الداتا  ونحولها لداتا فريم

df = spark.read.csv(
    "s3a://datalake/raw/Motor_Vehicle_Collisions_Crashes.csv"
)

df.show(20)
#----------------------------------------------------------
# هنرجع الداتا تاني في الفولدر الي هو processed
#  وهنخلي الفايل يبقا parquet  عشان يحتفظ ب الاسيكما احسن من csv 

# df.write \
#     .mode("overwrite") \
#     .parquet("s3a://datalake/processed/mongo_traffic")

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/01/02 02:49:25 WARN Utils: Your hostname, refat, resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
26/01/02 02:49:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
:: loading settings :: url = jar:file:/home/ahmed-refat/miniconda3/envs/spark/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.3.jar!/org/apache/ivy/core/settings/ivysettings.xml
Ivy Default Cache set to: /home/ahmed-refat/.ivy2.5.2/cache
The jars for the packages stored in: /home/ahmed-refat/.ivy2.5.2/jars
org.apache.hadoop#hadoop-aws added as a dependency
com.amazonaws#aws-java-sdk-bundle added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-0ae4c4b4-9da5-4d19-87aa-5f152311aa37;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.4.0 in central
	found software.amazon.awssdk#bundle;2.23.19 in central
	found org.wildfly.openssl#wildfly-openssl;1.1.3.Final in central
	found com.amazonaws#aws-java-sdk-bundle;1.12.262 in central
:: resolution report :: resolve 1364ms :: artifacts dl 75ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.12.262 from central in [default]
	org.apache.hadoop#hadoop-aws;3.4.0 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.1.3.Final from central in [default]
	software.amazon.awssdk#bundle;2.23.19 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   0   ||   4   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-0ae4c4b4-9da5-4d19-87aa-5f152311aa37
	confs: [default]
	0 artifacts copied, 4 already retrieved (0kB/37ms)
26/01/02 02:49:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
26/01/02 02:50:15 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------+----------+---------+--------+---------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
|       _c0|       _c1|      _c2|     _c3|      _c4|       _c5|                 _c6|                 _c7|                 _c8|                 _c9|                _c10|                _c11|                _c12|                _c13|                _c14|                _c15|                _c16|                _c17|                _c18|                _c19|                _c20|                _c21|                _c22|        _c23|                _c24|                _c25|               _c26|               _c27|               _c28|
+----------+----------+---------+--------+---------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
|CRASH DATE|CRASH TIME|  BOROUGH|ZIP CODE| LATITUDE| LONGITUDE|            LOCATION|      ON STREET NAME|   CROSS STREET NAME|     OFF STREET NAME|NUMBER OF PERSONS...|NUMBER OF PERSONS...|NUMBER OF PEDESTR...|NUMBER OF PEDESTR...|NUMBER OF CYCLIST...|NUMBER OF CYCLIST...|NUMBER OF MOTORIS...|NUMBER OF MOTORIS...|CONTRIBUTING FACT...|CONTRIBUTING FACT...|CONTRIBUTING FACT...|CONTRIBUTING FACT...|CONTRIBUTING FACT...|COLLISION_ID| VEHICLE TYPE CODE 1| VEHICLE TYPE CODE 2|VEHICLE TYPE CODE 3|VEHICLE TYPE CODE 4|VEHICLE TYPE CODE 5|
|09/11/2021|      2:39|     NULL|    NULL|     NULL|      NULL|                NULL|WHITESTONE EXPRES...|           20 AVENUE|                NULL|                   2|                   0|                   0|                   0|                   0|                   0|                   2|                   0|Aggressive Drivin...|         Unspecified|                NULL|                NULL|                NULL|     4455765|               Sedan|               Sedan|               NULL|               NULL|               NULL|
|03/26/2022|     11:45|     NULL|    NULL|     NULL|      NULL|                NULL|QUEENSBORO BRIDGE...|                NULL|                NULL|                   1|                   0|                   0|                   0|                   0|                   0|                   1|                   0|   Pavement Slippery|                NULL|                NULL|                NULL|                NULL|     4513547|               Sedan|                NULL|               NULL|               NULL|               NULL|
|11/01/2023|      1:29| BROOKLYN|   11230| 40.62179|-73.970024|    (40.62179, -7...|       OCEAN PARKWAY|            AVENUE K|                NULL|                   1|                   0|                   0|                   0|                   0|                   0|                   1|                   0|         Unspecified|         Unspecified|         Unspecified|                NULL|                NULL|     4675373|               Moped|               Sedan|              Sedan|               NULL|               NULL|
|06/29/2022|      6:55|     NULL|    NULL|     NULL|      NULL|                NULL|  THROGS NECK BRIDGE|                NULL|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0|Following Too Clo...|         Unspecified|                NULL|                NULL|                NULL|     4541903|               Sedan|       Pick-up Truck|               NULL|               NULL|               NULL|
|09/21/2022|     13:21|     NULL|    NULL|     NULL|      NULL|                NULL|     BROOKLYN BRIDGE|                NULL|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0| Passing Too Closely|         Unspecified|                NULL|                NULL|                NULL|     4566131|Station Wagon/Spo...|                NULL|               NULL|               NULL|               NULL|
|04/26/2023|     13:30|     NULL|    NULL|     NULL|      NULL|                NULL|      WEST 54 STREET|                NULL|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0|         Unspecified|         Unspecified|                NULL|                NULL|                NULL|     4623759|               Sedan|           Box Truck|               NULL|               NULL|               NULL|
|11/01/2023|      7:12|     NULL|    NULL|     NULL|      NULL|                NULL|HUTCHINSON RIVER ...|                NULL|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0|Following Too Clo...|Driver Inattentio...|                NULL|                NULL|                NULL|     4675709|               Sedan|Station Wagon/Spo...|               NULL|               NULL|               NULL|
|11/01/2023|      8:01|     NULL|    NULL|     NULL|      NULL|                NULL|      WEST 35 STREET|  HENRY HUDSON RIVER|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0|Failure to Yield ...|                NULL|                NULL|                NULL|                NULL|     4675769|               Sedan|                NULL|               NULL|               NULL|               NULL|
|04/26/2023|     22:20|     NULL|    NULL|     NULL|      NULL|                NULL|                NULL|                NULL|61        Ed Koch...|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0|         Unspecified|                NULL|                NULL|                NULL|                NULL|     4623865|               Sedan|       Pick-up Truck|               NULL|               NULL|               NULL|
|09/11/2021|      9:35| BROOKLYN|   11208|40.667202|  -73.8665|    (40.667202, -...|                NULL|                NULL|1211      LORING ...|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0|         Unspecified|                NULL|                NULL|                NULL|                NULL|     4456314|               Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|      8:13| BROOKLYN|   11233|40.683304|-73.917274|    (40.683304, -...|     SARATOGA AVENUE|      DECATUR STREET|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                NULL|                NULL|                NULL|                NULL|                NULL|     4486609|                NULL|                NULL|               NULL|               NULL|               NULL|
|04/14/2021|     12:47|     NULL|    NULL|     NULL|      NULL|                NULL|MAJOR DEEGAN EXPR...|                NULL|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0|         Unspecified|         Unspecified|                NULL|                NULL|                NULL|     4407458|                Dump|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|     17:05|     NULL|    NULL|40.709183|-73.956825|    (40.709183, -...|BROOKLYN QUEENS E...|                NULL|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0| Passing Too Closely|         Unspecified|                NULL|                NULL|                NULL|     4486555|               Sedan|Tractor Truck Diesel|               NULL|               NULL|               NULL|
|12/14/2021|      8:17|    BRONX|   10475| 40.86816| -73.83148|    (40.86816, -7...|                NULL|                NULL|344       BAYCHES...|                   2|                   0|                   0|                   0|                   0|                   0|                   2|                   0|         Unspecified|         Unspecified|                NULL|                NULL|                NULL|     4486660|               Sedan|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|     21:10| BROOKLYN|   11207| 40.67172|  -73.8971|    (40.67172, -7...|                NULL|                NULL|2047      PITKIN ...|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0| Driver Inexperience|         Unspecified|                NULL|                NULL|                NULL|     4487074|               Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|     14:58|MANHATTAN|   10017| 40.75144| -73.97397|    (40.75144, -7...|            3 AVENUE|      EAST 43 STREET|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0| Passing Too Closely|         Unspecified|                NULL|                NULL|                NULL|     4486519|               Sedan|Station Wagon/Spo...|               NULL|               NULL|               NULL|
|12/13/2021|      0:34|     NULL|    NULL|40.701275| -73.88887|    (40.701275, -...|       MYRTLE AVENUE|                NULL|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0|Passing or Lane U...|         Unspecified|                NULL|                NULL|                NULL|     4486934|Station Wagon/Spo...|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|     16:50|   QUEENS|   11413|40.675884| -73.75577|    (40.675884, -...|SPRINGFIELD BOULE...|     EAST GATE PLAZA|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0|  Turning Improperly|         Unspecified|                NULL|                NULL|                NULL|     4487127|               Sedan|Station Wagon/Spo...|               NULL|               NULL|               NULL|
|12/14/2021|      8:30|     NULL|    NULL|     NULL|      NULL|                NULL|            broadway|west 80 street -w...|                NULL|                   0|                   0|                   0|                   0|                   0|                   0|                   0|                   0|Unsafe Lane Changing|         Unspecified|                NULL|                NULL|                NULL|     4486634|Station Wagon/Spo...|               Sedan|               NULL|               NULL|               NULL|
+----------+----------+---------+--------+---------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
only showing top 20 rows